<div class="container-big-card">
  <div class="big-card-photo">
    <img
      src="https://i.ytimg.com/vi/U2_4XIubUYU/maxresdefault.jpg"
      alt=""
      height="220px"
      srcset=""
    />
  </div>

  <div class="big-card-title">
    <h1><a href="#">Saiu a nova versão da S10</a></h1>
  </div>

  <div class="big-card-description">
    <p>
      A Chevrolet acaba de apresentar a nova picape S10 2021. A nova linha 2021
      chega com uma série de recursos inovadores, como o sistema Wi-Fi nativo e
      mais segurança embarcada. O Wi-fi native, já visto em outros modelos da
      Chevrolet como Cruze 2020, nova família Onix e novo Tracker, agora está
      presente na picape media. O sinal até 12 vezes mais estável que o de um
      smartphone é o principal diferencial do Wi-Fi native. Ele é capaz ainda de
      se manter mais tempo conectada à rede 4G em função da antena que amplifica
      o sinal que fica na parte externa do carro.
    </p>
  </div>
</div>
